/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
main{
  margin-left: 20pt;
  margin-right: 20pt;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: #B23057;
  border-width: 1pt;
  padding: 20pt;
}
/*.rows{
  display: flex;
  flex-direction: row;
}*/
.meetings{

}
#b{
  font-style: italic;
}
.add{
  background-color: #19CBFF;
  text-align: center;
  padding: 10pt;
  margin: 10pt;
}
a {
  text-decoration: none;
  font-weight: bold;
}
hr {
  color: #B23057;
}
.member_photo{
  width: 100pt;
  margin: 10pt;
}
.review{
  border-style: solid;
  border-color: #B23057;
  border-width: 1pt;
  padding: 10pt;
  background-color: hsla(342, 58%, 44%, 0.34);
}
h1{
  font-size: 20pt;
  text-align: center;
  font-family: 'Lobster', cursive;
}
.member_table{
  display: flex;
  flex-direction: column;
}
h2{
  font-family: 'Lobster', cursive;
}
body{
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

#title{
  font-family: 'Lobster', cursive;
  color: black;
  font-size: 30pt;

}

nav, footer{
  padding: 10pt;
  background-color: #FFEC00;
  width: 100%;
  text-align: center;

}

nav{
  margin-bottom: 20pt;
}
footer{
  margin-top: 20pt;
}
.sign{
  text-align: left;
}
.create{
  padding: 10pt;
  background-color: #B23057;
  width: 100%;
  text-align: center;
}


nav{

}


sidebar{
}
.club{
  background-color: #B23057;
}

/*.members{
  background-color: #CC144C;
  }*/
.books{
  background-color: #19CBFF;
}

.member_photo{
}

.book_photo{
}

img{
  height:100pt;
}

.logo{
  height: 30pt;
  margin: 0pt;

}

#books{

}

#wine{
  position:relative;
  right: 12px;
  height: 25pt;
  bottom: 1pt;
}
.club{
  background-color: #B23057;
}
ul{
  list-style-type: none;

}

input[type: text]{
  height: 20pt;
}


.book_table{
  display: flex;
  align-content: space-between;;
}
.book_description{
  margin: 10pt;
}

#wrapper{
}
