main{
  margin-left: 150pt;
  margin-right: 150pt;
  border-style: solid;
  border-color: #B23057;
  border-width: 1pt;
  padding: 60pt;
}

.meeting_flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
  align-items: stretch;

}
/*Good implementation of flexbox*/


#b{
  font-style: italic;
}
.add{
  background-color: #19CBFF;
  text-align: center;
  padding: 10pt;
  margin: 10pt;
}
a {
  text-decoration: none;
  font-weight: bold;
}
#title:hover{
  font-size: 30pt;
}
a:hover{
  font-size: 15pt;
}

/*I really like the pastel color scheme here*/

hr {
  color: #B23057;
}
.member_photo{
  width: 100pt;
  margin: 10pt;
}
.review{
  border-style: solid;
  border-color: #B23057;
  border-width: 1pt;
  padding: 10pt;
  background-color: hsla(342, 58%, 44%, 0.34);
}
h1{
  font-size: 20pt;
  text-align: center;
  font-family: 'Lobster', cursive;
}
.member_table{
  display: flex;
  flex-direction: column;
  align-items: center;


}
.members{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  align-items: stretch;
}
h2{
  font-family: 'Lobster', cursive;
}
body{
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

#title{
  font-family: 'Lobster', cursive;
  color: black;
  font-size: 30pt;

}

nav, footer{
  padding: 5pt;
  background-color: #FFEC00;
  width: 100%;
  text-align: center;
}


nav{
  margin-bottom: 20pt;
}
footer{
  margin-top: 20pt;
}
.sign{
  text-align: left;
  margin-left: 150pt;
  margin-right: 150pt;
  margin-top:0;
}

nav{

}


sidebar{
}
.club{
  background-color: #B23057;
}

/*.members{
  background-color: #CC144C;
  }*/

  /*Generally try to clean out out any commented out code before sending to production*/
.books{
  background-color: #19CBFF;
}

.member_photo{
}

.book_photo{
}

img{
  height:100pt;
}

.logo{
  height: 30pt;
  margin: 0pt;

}

#books{

}

#wine{
  position:relative;
  right: 12px;
  height: 25pt;
  bottom: 1pt;
}
.club{
  background-color: #B23057;
  padding: 10pt;
}
ul{
  list-style-type: none;

}

.book_table{
  display: flex;
  align-content: space-between;
  /*Extra semicolon above. */
}
.book_description{
  margin: 10pt;
}
/*Good use of clearfix*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
